.features {
  margin-top: 104px;
  text-align: left;
}

.feature__item__icon {
  color: var(--primary);
  font-size: 2rem;
}

.features__item__text {
  font: var(--headline5);
}

@media screen and (min-width: 768px) {
  .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}
