@import "./tabs.css";
@import "./card.css";

.projects {
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 12.5rem;
  background: var(--white);
}

.projects__title {
  margin: 0;
  margin-bottom: 1.5rem;
  font: var(--headline4);
  color: var(--primary);
}

@media screen and (min-width: 768px) {
  .projects__title {
    font: var(--headline1);
    margin-bottom: 2.5rem;
  }
}
